body {
  background-color: rgb(188, 24, 24);
}

.container {
  background-color: white;
}

/* .btn {
  background-color: rgb(188, 24, 24);
  border-color: rgb(188, 24, 24);
}

.btn:hover {
  background-color: rgb(188, 24, 24);
  border-color: rgb(188, 24, 24);
} */
